<div id="total-footer">
	<div class="haut-footer" align="center">
		le test le test le test le test le test
	</div>
	<div class="bas-footer">
		<div class="tg-container" align="center">
			Copyright ©2017. Ecole Polytechnique de Thiès<span class="sep"> | </span>
			<br>
		</div>
	</div>
</div>