<div id="header">
	<div id="top-header">
		<div id="top-left-header">
			<a href="http://www.mesr.gouv.sn/" target="_blank" title="Visit Us On Facebook">
				<img src="http://ept.sn/wp-content/plugins/floating-social-media-icon/images/themes/30/fff.png" style="border:0px;" alt="Visit Us On Facebook" height="auto" width="300px">
			</a>
		</div>
	</div>

	<div id="mid-header" class="row">
		<div class="logo-container col-xs-4">
			<a href="http://ept.sn/" class="logo-link">
				<img src="http://ept.sn/wp-content/uploads/2017/05/LOGO.png" class="custom-logo" alt="logo de l'EPT" itemprop="logo" srcset="http://ept.sn/wp-content/uploads/2017/05/LOGO.png 450w, http://ept.sn/wp-content/uploads/2017/05/LOGO-300x65.png 300w" sizes="(max-width: 450px) 100vw, 450px" width="450" height="98">
			</a>
		</div>
		{% block professorInformations %}
			
		{% endblock professorInformations %}
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			<div id="button-container">
				<a href="{{ path('fos_user_security_logout') }}" class="button" id="connexionBtn">
					<span>Deconnexion ></span>
				</a>
			</div>
		{% else %}
			<div id="button-container">
				<a href="{{ path('fos_user_security_login') }}" class="button" id="connexionBtn">
					<span>Connexion ></span>
				</a>
			</div>
		{% endif %}

	</div>

	<div id="under-header" class="row">

	</div>
</div>