{% extends 'base.html.twig' %}
{% block title %}Page enseigants{% endblock %}
{% block body %}
<div class="container" id="card-container">
{% for i in range(0, 10) %}
    <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3">
            <div class="card">
                <img src="{{ asset('img_avatar.png') }}" alt="Avatar" style="width:100%">
                <div class="container">
                    <h4><b>John Doe{{ i }}</b></h4>
                    <p>Architect & Engineer</p>
                </div>
            </div>
    </div>
        {% endfor %}
</div>

    {% block javascripts %}
        <script>
            $( document ).ready(function() {
                $("#search").keyup(function () {
                   console.log($("#search").val().toLowerCase());
                   var cards = $("#card-container .card");
                   for(var i=0; i< cards.length; i++){
                       var texts = cards[i].textContent;
                       console.log(texts);
                           if (texts.toLowerCase().includes($("#search").val().toLowerCase())){
                               cards[i].style.display = "block";
                           }else{
                               cards[i].style.display = "none"
                           }
                   }
                })
            });
        </script>

    {% endblock %}
{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
