{% extends 'base.html.twig' %}
{% block title %}Page enseigants{% endblock %}
{% block body %}
    <div id="wrapper">
        <div id="container">
            
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
