{% trans_default_domain 'FOSUserBundle' %}

<div class="container row">
	<div class="col-sm-offset-4" style="margin-top:100px; margin-bottom: 160px;">
		{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
		    {{ form_widget(form) }}
		    <div>
		        <input class="btn btn-primary" type="submit" value="{{ 'change_password.submit'|trans }}" />
		    </div>
		{{ form_end(form) }}
	</div>
</div>
