<div class="row menu-cadre">
	<div class="col-sm-offset-1 col-sm-2" id="menu">                                                         
		<ul class="nav navbar-vertical contenu-menu">       
	        <li><a href="#"><i class="icon-home"></i> Accueil</a></li>
	        <li><a href="#"><i class="icon-edit"></i> Enseignements</a></li>
	        <li><a href="#"><i class="icon-calendar"></i> Recherche</a></li>
	        <li><a href="#"><i class="icon-user"></i> Publications</a></li>
	        <li><a href="#"><i class="icon-comment"></i> Activités Administratives</a></li>
	        <li><a href="#"><i class="icon-picture"></i> Liens</a></li>
	        <li><a href="#"><i class="icon-picture"></i> Hobbies</a></li>
	    </ul>
    </div>
    <div class="col-sm-8" id="cadre">
    	<div class="pageId"><span>fr:accueil</span></div>
    	sjhgfghhfdsghfdsghsfghjshhfgkhdsgjgjdsgkjhf<br>
    	sjhgfghhfdsghfdsghsfghjshhfgkhdsgjgjdsgkjhf<br>
    	sjhgfghhfdsghfdsghsfghjshhfgkhdsgjgjdsgkjhf<br>
    	sjhgfghhfdsghfdsghsfghjshhfgkhdsgjgjdsgkjhf<br>
    	sjhgfghhfdsghfdsghsfghjshhfgkhdsgjgjdsgkjhf<br>
    	sjhgfghhfdsghfdsghsfghjshhfgkhdsgjgjdsgkjhf<br>
    	sjhgfghhfdsghfdsghsfghjshhfgkhdsgjgjdsgkjhf<br>
    	sjhgfghhfdsghfdsghsfghjshhfgkhdsgjgjdsgkjhf<br>
    	sjhgfghhfdsghfdsghsfghjshhfgkhdsgjgjdsgkjhf<br>
    	sjhgfghhfdsghfdsghsfghjshhfgkhdsgjgjdsgkjhf<br>
    	sjhgfghhfdsghfdsghsfghjshhfgkhdsgjgjdsgkjhf<br>
    	sjhgfghhfdsghfdsghsfghjshhfgkhdsgjgjdsgkjhf<br>
    	sjhgfghhfdsghfdsghsfghjshhfgkhdsgjgjdsgkjhf<br>
    	sjhgfghhfdsghfdsghsfghjshhfgkhdsgjgjdsgkjhf<br>
    	sjhgfghhfdsghfdsghsfghjshhfgkhdsgjgjdsgkjhf<br>
    	sjhgfghhfdsghfdsghsfghjshhfgkhdsgjgjdsgkjhf<br>
    	sjhgfghhfdsghfdsghsfghjshhfgkhdsgjgjdsgkjhf<br>
    	sjhgfghhfdsghfdsghsfghjshhfgkhdsgjgjdsgkjhf<br>
    </div>
</div>
