{% extends 'NKPersoPageBundle::layout.html.twig' %}
{% block titre %}Accueil{% endblock titre %}
{% block NKPersoPageBundle_content %}
    <!--  La duplication de code dans un projet, c’est le mal incarné -->
    <h2>En bref</h2>
    sjhgfghhfdsghfdsghsfghjshhfgkhdsgjgjdsgkjhf<br>
    sjhgfghhfdsghfdsghsfghjshhfgkhdsgjgjdsgkjhf<br>
    sjhgfghhfdsghfdsghsfghjshhfgkhdsgjgjdsgkjhf<br>
    sjhgfghhfdsghfdsghsfghjshhfgkhdsgjgjdsgkjhf<br>
    sjhgfghhfdsghfdsghsfghjshhfgkhdsgjgjdsgkjhf<br>
    sjhgfghhfdsghfdsghsfghjshhfgkhdsgjgjdsgkjhf<br>
    sjhgfghhfdsghfdsghsfghjshhfgkhdsgjgjdsgkjhf<br>
    sjhgfghhfdsghfdsghsfghjshhfgkhdsgjgjdsgkjhf<br>
    sjhgfghhfdsghfdsghsfghjshhfgkhdsgjgjdsgkjhf
    <h2>Coordonnées</h2>
    sjhgfghhfdsghfdsghsfghjshhfgkhdsgjgjdsgkjhf<br>
    sjhgfghhfdsghfdsghsfghjshhfgkhdsgjgjdsgkjhf<br>
    sjhgfghhfdsghfdsghsfghjshhfgkhdsgjgjdsgkjhf<br>
    sjhgfghhfdsghfdsghsfghjshhfgkhdsgjgjdsgkjhf<br>
    sjhgfghhfdsghfdsghsfghjshhfgkhdsgjgjdsgkjhf<br>
    sjhgfghhfdsghfdsghsfghjshhfgkhdsgjgjdsgkjhf
    <h2>Biographie</h2>
    sjhgfghhfdsghfdsghsfghjshhfgkhdsgjgjdsgkjhf<br>
    sjhgfghhfdsghfdsghsfghjshhfgkhdsgjgjdsgkjhf<br>
    sjhgfghhfdsghfdsghsfghjshhfgkhdsgjgjdsgkjhf<br>
{% endblock NKPersoPageBundle_content %}