{% extends '::base.html.twig' %}

{% block professorInformations %}
	
{% endblock professorInformations %}
{% block body %}
	<div class="row">
		<nav class= "col-sm-offset-1 col-sm-2">
			{% include 'NKPersoPageBundle::Menu/menu.html.twig' %}
		</nav>
		<div class="col-sm-8" id="cadre">
			<div class="pageId"><span>fr:{% block titre%}{% endblock titre %}</span></div>
            {% block NKPersoPageBundle_content %}
            {% endblock NKPersoPageBundle_content %}
		</div>

	</div>
{% endblock body %}
